<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitRepos</title>
</head>
<body>
  <div class="navbar-dark">
    <div class="navbar-brand">
      <a class="navbar-item">
        LOGO HERE!
      </a>
    </div>
  </div>

  <footer class="footer">
    <div class="container content has-text-centered">
      <p>Made by </p>
    </div>
  </footer>
  
</body>
</html>